<div class="result">
  <div class="row">
    <div class="col-md-12 text-center">
      <% if @game.winner.is_a?(Computer) %>
        <h1 class="display-2">You lose!</h1>
      <% else %>
        <h1 class="display-2"><%=@game.winner.name %> wins!</h1>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <h2><%= @game.player1.name %> chose <span><%= @game.player1.weapon.type%></h2></span>
    </div>
    <div class="col-lg-6 text-center">
      <h2><%=@game.player2.name %> chose <span><%= @game.player2.weapon.type%></h2></span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a class="btn btn-outline-dark btn-lg" href="/">Play Again</a>
    </div>
  </div>
</div>
